[Unit]
Description=webserver Daemon prod

[Service]
ExecStart=/usr/bin/java -Dhelloworld.port=8100 -jar /home/vagrant/HelloWorld-prod.jar
User=root

[Install]
WantedBy=multi-user.target