[Unit]
Description=webserver Daemon

[Service]
ExecStart=/usr/bin/java -Dhelloworld.port=8000 -jar HelloWorld.jar
User=root

[Install]
WantedBy=multi-user.target